    <footer>
      <div class="footer-top">
        <div class="container overflow-hidden">
          <div class="row">
            <div class="col-md-3 office-loc ease-item wow bounceInUp" data-wow-duration="0.6s" data-wow-delay="0.3s">
              <img src="assets/hr_mgmt/images/singapore.png" alt="Singapore" title="Singapore" />
              <address>
                <p><span class="green cntry-name">Singapore</span> (Head Quarters)</p>
                HumanCapita Pte Ltd <br />
                License No: 15C7720 <br />
                1 Gateway Drive <br />
                #07-01 Westgate Tower <br />
                Singapore 608531 <br />
                <span class="green">Phone:</span> +65 66815658 <br />
                <span class="green">Email:</span> sales@hcapita.com 
              </address>
            </div>
            <div class="col-md-3 office-loc ease-item wow bounceInUp" data-wow-duration="0.7s" data-wow-delay="0.4s">
              <img src="assets/hr_mgmt/images/dubai.png" alt="Dubai" title="Dubai" />
              <address>
                <p><span class="green cntry-name">Dubai</span> (Office)</p> 
                PO BOX 261675<br />
                Clover Bay Tower,<br />
                Office No: 2202<br />
                Business Bay<br />
                Dubai, United Arab Emirates<br />
              </address>
            </div>
            <div class="col-md-3 office-loc ease-item wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <img src="assets/hr_mgmt/images/malaysia.png" alt="Malaysia" title="Malaysia" />
              <address>
                <p><span class="green cntry-name">Malaysia</span> (Office)</p>
                Unit-24/04 <br />
                19, Jalan Wong Ah Fook, <br />
                80000 Johor Bahru, Johor, <br /> 
                Malaysia  
              </address>
            </div>
            <div class="col-md-3 stay-updated ease-item wow bounceInUp" data-wow-duration="0.9s" data-wow-delay="0.6s">
              <p class="green">Stay Updated</p>
              <form class="form-inline">  
                <div class="form-group pull-left"> 
                  <input type="email" class="form-control" placeholder="Your Email Address">
                </div>
                <button class="btn btn-default">SUBMIT</button>
              </form>
              <ul>
                <li class="fb-icon"><a href="https://www.facebook.com/HumanCapita-779265908786061/?fref=ts"><img src="assets/hr_mgmt/images/facebook.png" alt="Facebook" title="Facebook" /></a></li>
                <li class="gplus-icon"><a href="#"><img src="assets/hr_mgmt/images/googleplus.png" alt="Google Plus" title="Google Plus" /></a></li>
                <li class="linkedin-icon"><a href="https://www.linkedin.com/company/humancapita-pte-ltd?trk=mini-profile"><img src="assets/hr_mgmt/images/linkedin.png" alt="LinkedIn" title="LinkedIn" /></a></li>
              </ul>
            </div>
            <div class="clearfix"></div>
            
            <div class="footer-nav text-center">
              <ul>
                <li class="active"><a href="/home">Home</a></li>
                <li><a href="/about-us">About Us</a></li>  
                <li><a href="/our-services">Our Services</a></li>  
                <li><a href="/our-process">Our Process</a></li>
                <li><a href="/knowledge-center">Knowledge Center</a></li>  
                <li><a href="/careers">Careers</a></li>  
                <li><a href="/contact">Contact Us</a></li> 
                <li><a href="/login">LOGIN</a></li>  
                <li><a href="/create-profile">SIGN UP</a></li>  
              </ul>
            </div>
          </div>
        </div>
      </div> 
      <div class="footer-bottom">
        <div class="container text-center">&copy; Human Capita Pte. Ltd. 2016,  All Rights reserved.</div>
      </div> 
      <div class="clearfix"></div>
    </footer>
