@font-face {
    font-family: 'ubunturegular';
    src: url('../hr_mgmt/css/fonts/ubuntu-r-webfont.eot');
    src: url('../hr_mgmt/css/fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../hr_mgmt/css/fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../hr_mgmt/css/fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../hr_mgmt/css/fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../hr_mgmt/css/fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('../hr_mgmt/css/fonts/ubuntu-l-webfont.eot');
    src: url('../hr_mgmt/css/fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../hr_mgmt/css/fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../hr_mgmt/css/fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../hr_mgmt/css/fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../hr_mgmt/css/fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('../hr_mgmt/css/fonts/ubuntu-m-webfont.eot');
    src: url('../hr_mgmt/css/fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../hr_mgmt/css/fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../hr_mgmt/css/fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../hr_mgmt/css/fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('../hr_mgmt/css/fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.green, .footer-nav ul li a:hover, .footer-nav ul .active a { color: #13783c; }
#intro-txt { padding: 40px 0 55px; }
#intro-txt h3 { font-size: 17pt; color: #13783c; line-height: 32px; margin-bottom: 30px; padding: 0 4%; }
#intro-txt a { font-family: 'ubuntumedium'; padding: 8px 20px; border: 1px solid #13783c; color: #666; }
#intro-txt a:hover, #intro-txt a:focus, .stay-updated .btn { background: #13783c; color: #fff; }
#our-value { padding: 40px 0; background: #f4f7f5; }
#our-value h2 { margin: 0 0 30px; font-size: 26pt; }
#our-value ul, .footer-nav ul, .stay-updated ul, #sector-vision .sector-list, #recrutmnt-spcl ul, #our-process ul { list-style-type: none; margin: 0; padding: 0; }
#our-value ul li { display: block; margin-bottom: 25px; }
#our-value ul li .thumb { padding: 2px 0; }
#our-value ul li .value-desc { padding-left: 5px; }
#our-value ul li h3 { margin: 0 0 2px; font-family: 'ubuntumedium'; font-size: 18px; }
#recrutmnt-process { padding: 60px 0; background: #13783c; }
#recrutmnt-process .container { position: relative; }
#recrutmnt-process a { color: #fff; font-family: 'ubuntumedium'; position: absolute; left: 51%; top: 78%; }
.footer-top { color: #999; padding: 65px 0 20px; } 
.footer-top address p { margin: 5px 0 10px; }
.footer-top .cntry-name { font-size: 18px; }
.stay-updated p { font-size: 15px; margin: 40px 0 15px; }
.stay-updated .form-control, .stay-updated .btn { font-size: 12px; border-radius: 0; box-shadow: none; height: 30px; padding: 6px 10px; margin: 0; }
.stay-updated .btn { padding: 4px 10px !important; border: 1px solid #13783c; }
.stay-updated .btn:hover, .stay-updated .btn:focus { border: 1px solid #0b6530; color: #fff; background: #0b6530; }
.stay-updated ul { margin-top: 18px !important; }
.stay-updated ul li { display: inline-block; margin: 3px; }
.stay-updated ul li a { padding: 7px; background: #8e8e8e; display: inline-flex; height: 32px; width: 32px; border-radius: 50%; }
.stay-updated ul .fb-icon a:hover { background: #3b5999; }
.stay-updated ul .gplus-icon a:hover { background: #de4b39; }
.stay-updated ul .linkedin-icon a:hover { background: #007bb6; }
.footer-nav ul { display: inline-block; margin: 15px 0 10px; }
.footer-nav ul li { display: inline-block; margin: 5px 10px; }
.footer-nav ul li a { color: #666; } 
.footer-bottom { font-size: 12px; color: #fff; padding: 20px 0; background: #666; }
.overflow-hidden { overflow: hidden; }

/* About Us Page CSS */
.inner-header { border-bottom: 1px solid #13783c; }
#abt-us, #our-services { padding: 45px 0 65px; } 
#abt-us h1, #our-services h1, #our-recrtmnt-process h1 { font-size: 24pt; margin: 0 0 25px; }
#abt-us h4, #our-services h4 { font-size: 17.5pt; margin: 0 0 20px; line-height: 34px; }
#abt-us p { font-size: 15px; margin: 0; color: #535353; }
#sector-vision { font-size: 15px; padding: 40px 0; margin-bottom: 30px; background: url('../hr_mgmt/images/abt-bg.jpg') repeat-y center center; }
.sector-left p { padding-right: 14%; margin-bottom: 20px; }
.sector-list li { font-family: 'ubuntumedium'; color: #13783c; font-size: 17px; margin-bottom: 2px; }
.sector-list li span { width: 30px; height: 30px; display: inline-block; vertical-align: middle; }
.it-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -1px; }
.health-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -33px; }
.bankg-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -62px; }
.edu-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -93px; }
.pharma-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -124px; }
.hospitlty-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -153px; }
.marine-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -4px -180px; }
.marktg-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -212px; }
.oilgas-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -5px -241px; }
.engg-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -5px -272px; }
.constrctn-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -303px; } 
.acct-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -3px -333px; }
.digital-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -5px -365px; }
.finance-icon { background: url('../hr_mgmt/images/sprite-icon.png') no-repeat -5px -395px; } 
.vision-mission { padding-left: 6.5% !important; color: #fff; }
.vision-mission p { margin-bottom: 0; }
.vision-mission h4 { font-family: 'ubuntumedium'; font-size: 20px; margin: 20px 0 3px; }
.vision-mission ul { padding-left: 15px; }
.vision-mission ul li { color: #fff; }
.inner-footer { background: #f4f7f5; }
.inner-values { background: #fff !important; }

/* Our Services Page CSS */
#our-services { padding-bottom: 50px !important; }
#our-services h4 { margin-bottom: 0 !important; }
#prmnt-recrtmnt { background: #13783c; color: #fff; padding: 45px 0; }
.prmnt-recrtmnt-left { padding: 0  5%; }
.prmnt-recrtmnt-right h3 { margin: 0 0 20px; }
#recrutmnt-spcl { padding: 50px 0 60px; }
#recrutmnt-spcl .sector-list li { font-family: 'ubuntulight'; font-size: 16px; margin-bottom: 7px; }
#recrutmnt-spcl h3 { font-size: 22px; margin: 0 0 40px; }
#recrtmnt-services { margin-bottom: 50px; }
#recrtmnt-services .service-col { 
  background: #f0f3f1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #f0f3f1 , #fff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #f0f3f1, #fff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #f0f3f1, #fff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #f0f3f1 , #fff); /* Standard syntax */ 
  padding: 40px 40px 30px;
 }
.service-col h3 { font-size: 22px; margin: 0 0 15px; } 
.service-col p { font-size: 13px; font-weight: 700; }
.service-col .service-title { margin: 30px 0 5px; }
.service-col ul { padding-left: 2px; list-style-image: url('../hr_mgmt/images/bullet.png'); }
.service-col ul li { margin-bottom: 15px; }

/* Our Recruitment Process Page CSS */
#our-recrtmnt-process { padding: 40px 0 35px; }
#our-recrtmnt-process h1 { margin: 0 !important; }
#our-process { background: #f6f8f7; padding: 0 0 40px; }
#our-process h3 { margin: 45px 0 5px; font-size: 22px; }
#our-process .process-left { padding-right: 80px; }
#our-process .process-right { padding-left: 80px; }
#our-process ul li p { line-height: 20px; }
#recrtmnt-process { padding: 90px 0; } 
.marginbot0 { margin-bottom: 0 !important; }

/* fade on slider */
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}
/* Custom CSS */
.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.navbar-nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.navbar-brand {
  position: relative !important;
  padding: 0px;
}

.hcapita-text {
  padding-top: 50px;
  font-size: 16px;
}

.contact-contact {
  /*padding-top: 50px !important;*/
  font-size: 16px;
}

.navbar-collapse {
  padding-left: 13% !important;
}

.form-horizontal {
  padding-top: 50px !important;
}

#our-services { padding: 40px 0; background: #f4f7f5; }
#our-services h2 { margin: 0 0 30px; font-size: 26pt; }
#our-services ul, .footer-nav ul, .stay-updated ul { list-style-type: none; margin: 0; padding: 0; }
#our-services ul li { display: block; margin-bottom: 25px; }
#our-services ul li .thumb { padding: 2px 0; }
#our-services ul li .value-desc { padding-left: 5px; }
#our-services ul li h3 { margin: 0 0 2px; font-family: 'ubuntumedium'; font-size: 18px; }
#our-services-ul ul { list-style-type: circle; margin: 0; padding: 0; }