{%- block head_include %}<link rel="shortcut icon" type="image/x-icon" href="assets/hr_mgmt/images/favicon.ico">{% endblock -%}
{% block title %}
{{ "About Us"}}
{% endblock %}
{% block content_body %}
<section id="abt-us">
    <div class="container">
        <h1 class="green text-center">About HumanCapita</h1>
        <h4 class="green">HumanCapita is a premier global recruitment agency headquartered in Singapore. <br /> 
        HumanCapita provides the full spectrum of recruitment services for all type of  industries all over the world. We specialise in providing the best suitable candidates for 
        both permanent and contractual positions.</h4>
        <p>We recognize the rapid changing demands for the highly qualified professionals and we offer an exceptional service in limited time frames to meet our customer needs. Our 
        qualified executive team will monitor the current trends in the job market and will work with our clients to fulfill all their manpower requirements and to provide the best 
        one stop HR solutions. Through our large pool of data base, we guarantee ready availability of ideal professionals for every position of our specialty sectors. Everything from 
        the planning to the interview, leading to selection, and reference check, right up to their joining and performance is our responsibility.</p>
      </div>
    </section> 
    
    <section id="sector-vision">
      <div class="container"> 
        <div class="col-md-6 sector-left"> 
          <div class="row">
            <p>We understand that how crucial it is to have prompt provision of effective, efficient and specialised personnel for all sectors. It has come to focus its resources and 
            proficiency towards the following listed sectors, which required best human resource solutions in a manner most professional and timely.</p>
            <ul class="sector-list col-md-6">
              <li><span class="it-icon"></span> IT and Telecom</li>
              <li><span class="health-icon"></span> Health Care</li>
              <li><span class="bankg-icon"></span> Banking</li>
              <li><span class="edu-icon"></span> Educational Institutions</li>
              <li><span class="pharma-icon"></span> Pharmaceutical</li>
              <li><span class="hospitlty-icon"></span> Hospitality</li>
            </ul> 
            <ul class="sector-list col-md-6">
              <li><span class="marine-icon"></span> Marine</li>
              <li><span class="marktg-icon"></span> Marketing</li> 
              <li><span class="oilgas-icon"></span> Oil and Gas</li>
              <li><span class="engg-icon"></span> Engineering</li>
              <li><span class="constrctn-icon"></span> Construction</li>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 vision-mission">
          <p>Our executive team includes Industry experts from Human resource management who are highly qualified and experienced in deploying and managing 1000 over employees in APAC 
          majority in Singapore, along with professionals from International Marketing. We are a reliable company in your urgent Human resource needs.</p> 
          <h4>Vision :</h4> 
          <p>Enhancing efficiency and effectiveness of our customers by providing specialised and customised human capital solutions</p> 
          <h4>Mission :</h4>  
          <p>To be the leading global human capital solution provider</p>
          <ul> 
            <li>To help people to find the right job</li>
            <li>To help our clients to find the right people</li>
          </ul> 
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
    
    <section id="our-value" class="inner-values">
      <div class="container overflow-hidden">
        <h2 class="text-center">Our Values</h2>
        <div class="col-md-6">
          <ul>
            <li class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/integrity.png" alt="Integrity" title="Integrity" /></div>
              <div class="col-md-10 value-desc">
                <h3>Integrity</h3>
                <p>We conduct all matters of business with honesty, truthfulness and sincerity.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.7s" data-wow-delay="0.4s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/partnership.png" alt="Partnership" title="Partnership" /></div>
              <div class="col-md-10 value-desc">
                <h3>Partnership</h3>
                <p>We act as an extended HR arm of our clients.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/relationship.png" alt="Relationship" title="Relationship" /></div>
              <div class="col-md-10 value-desc">
                <h3>Relationship</h3>
                <p>We believe Trust, Commitment and Satisfaction are the three pillars of long term relationship.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.9s" data-wow-delay="0.6s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/quality.png" alt="Quality" title="Quality" /></div>
              <div class="col-md-10 value-desc">
                <h3>Quality</h3>
                <p>We will not compromise on quality of our services.</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
        
        <div class="col-md-6">
          <ul>
            <li class="wow bounceInRight" data-wow-duration="0.6s" data-wow-delay="0.3s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/excellence.png" alt="Excellence" title="Excellence" /></div>
              <div class="col-md-10 value-desc">
                <h3>Excellence</h3>
                <p>We constantly strive to achieve the highest standards and excellence in our services.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInRight" data-wow-duration="0.7s" data-wow-delay="0.4s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/flexibility.png" alt="Flexibility" title="Flexibility" /></div>
              <div class="col-md-10 value-desc">
                <h3>Flexibility</h3>
                <p>We provide customised HR solutions to meet our client’s needs and expectations.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInRight" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <div class="thumb col-md-2 text-center"><img src="assets/hr_mgmt/images/confidentiality.png" alt="Confidentiality" title="Confidentiality" /></div>
              <div class="col-md-10 value-desc">
                <h3>Confidentiality</h3>
                <p>We accord the highest respect to information that we have been entrusted with.</p>
              </div>
              <div class="clearfix"></div>
            </li> 
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>
{% endblock %}