{% block title %}
{{ "About Us"}}
{% endblock %}
{% block content_body %}
<section id="intro-txt">
    <div class="container">
    <h2 class="text-center"><b>About Us</b></h2>
        <div class="hcapita-text text-justify">
            <p>HumanCapita Pte Ltd is a premier Recruitment agency headquartered in Singapore. HumanCapita provides the full spectrum of recruitment services for all type of industries and we specialize in providing the best suitable candidates for both permanent and
                contractual positions.</p>
            <p>We recognize the rapid changing demands for the highly qualified professionals and we offer an exceptional service in limited time frames to meet our customer needs. Our qualified executive team will monitor the current trends in the job market and will
                work with our clients to fulfill all their manpower requirements and to provide the best one stop HR solutions. Through our large pool of data base, we guarantee ready availability of ideal professionals for every position of our specialty sectors. Everything
                from the planning to the interview, leading to selection, and reference check, right up to their joining and performance is our responsibility.</p>
            <p>We understand that how crucial it is to have prompt provision of effective, efficient and specialized personnel for all sectors. It has come to focus its resources and proficiency towards the following listed sectors, which required best human resource
                solutions in a manner most professional and timely.</p>
            <ul>
                <li>IT and Telecom</li>
                <li>Banking</li>
                <li>Marine</li>
                <li>Marketing</li>
                <li>Oil and Gas</li>
                <li>Pharmaceutical</li>
                <li>Engineering</li>
                <li>Construction</li>
                <li>Hospitality</li>
            </ul>
            <p>Our executive team includes Industry experts from Human resource management who are highly qualified and experienced in deploying and managing 1000 over employees in APAC majority in Singapore, along with professionals from International Marketing. We
                are a reliable company in your urgent Human resource needs.</p>
        </div>
    </div>
</section>
{% endblock %}