{% block title %}
{{ "Careers"}}
{% endblock %}
{% block content_body %}
<section id="our-recrtmnt-process">
      <div class="container">
        <h1 class="green text-center marginbot0">Careers</h1> 
      </div>
</section>
<section>
    <div class="container" id="carrer">
        <!-- <h2 class="text-center">Careers</h2> -->
        <div class="col-md-1"></div>
        <div class="col-md-10 text-justify">
			<p>We appreciate your interest in exploring career opportunities through us.</p>

			<p>At HumanCapita, we service a wide range of industry verticals, technology platforms, and business functions. This multifarious exposure provides you with growth opportunities at every step of your career. HumanCapita lets you draw upon its superlative treasure of experience and expertise to add to yours.</p> 

			<p>We believe in providing a multi-faceted exposure across domains and roles that are equipped with a flexibility that allows you to discover your ideal role, and thus helping you achieve your true potential.</p> 

			<p>This translates into:</p>
			<ul>
				<li>Constant opportunities to discover your forte while you work across domains.</li>
				<li>Benefit of best-in-class practices and learning for our customers.</li>
			</ul>
			<div class="col-md-12" align="center">
				<div class="form-group">
					<button  class="btn btn-primary btn-send">Search Jobs</button>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</section>
<script>
	{% include "templates/includes/careers.js" %}
</script>
{% endblock %}