{% block title %}
{{ "Knowledge Center"}}
{% endblock %}
{% block content_body %}
<section>
  <div class="container overflow-hidden">
    <h2 class="text-center"><b>Knowledge Center</b></h2>
    <div class="col-md-6 text-justify">
      <div class="col-md-12 value-desc wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">
      	<h3>How to look for job opportunities?</h3>
      	<p>Searching for a job is not an easy task, it needs a clear strategy. There are many questions that a job seeker usually asks themselves during job hunting, where would you find the suitable job vacancy? Why would companies consider your job application?</p>

				<p>The first step is to decide what actually you want to do. The big mistake that usually job seekers make is being unclear about their career objective. You cannot find a right job unless you are really clear about what actually you want to do. Be Specific.</p>

				<p>Next step is to decide where you want to work. Once you decide what job you want to do, identify where you want to work. You might be interested to work in small or medium companies or you might be interested to work in larger organizations and you also might have industry preferences. This is to distinguish what connection or networking you need to land in your dream job.</p>
      </div>
      <div class="col-md-12 value-desc wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.4s">
      	<h3>Networking: </h3>
				<p>A strategically networking is one of the best ways to find the right job. First you should identify the key employees of your targeted companies. Meet them in person or connect them via online platforms. Let them know you’re looking for a job. So, if there is any vacancy they will think of you. You can connect with your own alumni networks because connecting with fellow alumni can be a good start.</p>
      </div>
      <div class="col-md-12 value-desc wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.4s">
      	<h3>Smaller organisations:</h3>
				<p>Smaller companies usually look for employees who left larger organisations. If you are interested to work for smaller companies, then you need to identify such organisation to learn about their business, potential growth and financial capability of such companies to choose the right place to work.</p>
      </div>
      <div class="col-md-12 value-desc wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.5s">
      	<h3>Apply through job agencies:</h3>
				<p>In many companies mid to senior level employees are recruited exclusively by recruitment agencies. Experienced recruitment panel of recruitment agencies will evaluate your profile and match your profile with the requirements of their clients. Hence, registering your profile with the right headhunter will give you a great chance of getting the right job.</p>
      </div>
    </div>
    <div class="col-md-6 text-justify">
    <div class="col-md-12 value-desc wow bounceInRight" data-wow-duration="0.6s" data-wow-delay="0.3s">
      	<h3>Check Job portals:</h3> 
		<p>Many companies and recruitment agencies use them to find the right candidate and also to update their internal database. Upload your updated resume with catching headline that encourages the reader to open your profile. Your skills are more important, hence you should take time and best effort to include all your skills in your resume. </p>
      </div>
      <div class="col-md-12 value-desc wow bounceInRight" data-wow-duration="0.6s" data-wow-delay="0.4s">
      	<h3>How to write a successful CV?</h3>
      	<p>Writing a good CV can be one of the biggest challenges for every job seeker. Employers may spend only few seconds to evaluate a CV. Give yourself the best chances of success by writing a CV that explains why you are the right candidate in an attractive way.</p>
      	<p>Few important things to be considered while writing a CV</p>
		<ul>
			<li>A standard CV should be no longer than two sides if A4. CVs can be longer depending on your experience. </li>
			<li>Match your CV with the job description. You must update your CV with all relevant skills mentioned in the job description. </li>
			<li>Write a brief personal statement to explain why you are the right candidate for this job</li>
			<li>You should not leave any gap on your CV, and you should keep very less space between sentences, paragraphs and lines. </li>
			<li>You should include your previous job experiences in your CV with all the relevant skills you had been used. </li>
			<li>Your CV should be free from grammatical errors; employers do look for mistakes on CVs.</li>
			<li>Write hobbies which are relevant to your job. You must not include hobbies which are not relevant to the job.</li>
			<li>Any evidence of your leadership skill is very important to mention in the CV under ‘interests and achievements’.</li>
			<li>Make it simple and attractive. The CV should be attractive enough to catch the attention of the reader in the first 5 seconds.</li>
		</ul>

		<p>Remember that writing a good CV is the only opportunity for you to present yourself to potential employer. So, don’t forget to follow the AIDA model;</p>
		<ul>
			<li>Attention: You must attract the reader’s attention with relevant information in the first 5 seconds.</li>
			<li>Interest: Your must keep the reader active and interested throughout the duration of the CV</li>
			<li>Desire: You must create a desire for the reader to hire you</li>
			<li>Action: You must provide the reader with all the relevant information to motivate them to invite you for an interview</li>
		</ul>
      </div>
    </div>
      <div class="col-md-12 value-desc wow bounceInRight text-justify" data-wow-duration="0.6s" data-wow-delay="0.4s">
      	<h3>Common Interview Mistakes – How to avoid them?</h3>
		<p>A good resume will help you to get an invitation to the door, but you need to face an interview to pass through that door. Job interview can be the most stressful part of the application process. It is a great opportunity for you to prove your value and impress the prospective employer. Here are the some common mistakes to avoid in a job interview</p>

		<ul>
			<li><b>Turning up late:</b> You should be at the employer place before 15 minutes of the interview. On the day you should allow yourself minimum 30 minutes for any delays. You must call the interviewer if you are late.</li>
			<li><b>Bad grooming:</b> Grooming is very much important in a job interview. You should wear appropriate clothing. Appropriate clothing is depending on the job you are looking for; wear formal business attire if you are not sure.</li>
			<li><b>Lack of preparation to talk about yourself:</b> You must be prepared to introduce yourself, show case your skills and prove that you are the perfect person for the job. You must think in an employer point of view, what he or she might want to know to select you for the position.</li>
			<li><b>Failing to research about the company:</b> Interviewer will assume that you have conducted some research about the company background, product and services and scope of its business. You should also investigate about the company’s priorities, competitors and market position. This will help you to convince the interviewer how you will use your skills to make difference in the organization.</li>
			<li><b>Talking too much or too less:</b> Too much and too less talking can create a very negative impression with the interviewer. If your responses too short then interviewer may suspect if you are hiding something but if your responses are too lengthy they may tune you out. You must be well prepared in advance to answer each question. Your answers must be straight to the question. And be prepared to show case and prove you ability and skills with specific examples.</li>
			<li><b>Not being a good listener:</b> Throughout the discussion, you should be able to listen carefully and understand the interviewer before you start talking. You should think before you speak. The interviewer may provide many useful clues about what they are expecting from the candidate. And you can satisfy the interviewer only if you could listen to them properly.</li>
			<li><b>Failure to ask questions:</b> Be prepared to ask some questions to the interviewer about the organization and positions. But you should not to ask many questions about the salary and benefits unless you have been offered the job.</li>
		</ul>
      </div>
  </div>
</section>
{% endblock %}