{% block title %}
{{ "Our Services"}}
{% endblock %}
{% block content_body %}
<section>
  <div class="container overflow-hidden">
    <h2 class="text-center"><b>Our Services</b></h2>
    <div class="col-md-6 text-justify">
      <div class="col-md-12 value-desc wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">
        <h3 class="text-center">Permanent Recruitment</h3>
        <p>HumanCapita provides tailored permanent and functional recruitment services in every industry from junior-to-senior level hiring in forms of contingency search. Our recruitment specialists work deep within their expertise area to provide the right candidates for the position. HumanCapita is constantly working to provide immediate human capital solutions for our client present and future needs. HumanCapita will charge a recruitment fee based on the fixed remuneration of the candidates</p>
        <p>Our recruitment specializations include:</p>
        <div class="row">
          <div class="col-xs-6">
            <ul id="our-services-ul">
              <li>IT and Telecom</li>
              <li>Health Care</li>
              <li>Banking</li>
              <li>Educational Institutions</li>
              <li>Pharmaceutical</li>
              <li>Accounting & Finance</li>
              <li>Digital Media</li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul  id="our-services-ul">
              <li>Hospitality</li>
              <li>Marine</li>
              <li>Marketing</li>
              <li>Oil and Gas</li>
              <li>Engineering</li>
              <li>Construction</li>
              <li>Financial Services Technology</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 value-desc wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.4s">
        <h3 class="text-center">Executive Search</h3>
        <p>A fastest growing recruiter of top level executives worldwide, HumanCapita uses its extensive global sourcing networks and global partner networks to identify the most qualified and suitable candidate for the top level executive positions in the organizations.</p>
        <p>Our Executive search services:</p>
        <ul id="our-services-ul">
          <li>Head Hunting for Senior Management Positions</li>
          <li>Led by Specialist Executive Search consultants</li>
          <li>HumanCapita will charge a recruitment fee based on the yearly fixed remuneration of the candidates.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 text-justify">
      <div class="col-md-12 value-desc wow bounceInRight" data-wow-duration="0.6s" data-wow-delay="0.3s">
        <h3 class="text-center">Contracting Recruitment</h3>
        <p>Our experienced contract recruitment panel recruits contractors across all sectors matching the requirement. We are constantly searching for talented contractors, using a range of referral and search approaches.</p>
        <p>Our Contract Recruitment Services:</p>
        <ul id="our-services-ul">
          <li>For project based / temporarily positions </li>
          <li>short-term strategic hires for senior and up to director-level</li>
          <li>Managed services - outsourced hiring for specific projects</li>
          <li>Employee will be under HumanCapita payroll</li>
          <li>HumanCapita will charge a fee per worked hour, day or Month</li>
        </ul>
      </div>
      <div class="col-md-12 value-desc wow bounceInRight" data-wow-duration="0.6s" data-wow-delay="0.4s">
        <h3 class="text-center">Project Management Recruitment</h3>
        <p>HumanCapita provides customized and specialized services for mass requirements for specific projects. Our expert recruitment panel will dedicate to fulfill all the requirements within the time limits in a discounted rate</p>
        <p>Our Contract Recruitment Services:</p>
        <ul id="our-services-ul">
          <li>If you have required multiple resource for a specific project</li>
          <li>Exclusive to HumanCapita</li>
          <li>This service offers flexible and fastest full phase project support</li>
          <li>HumanCapita will charge depend on the services used (Case by case)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}