{% block title %}
{{ "Our Process"}}
{% endblock %}
{% block content_body %}
<section id="our-value">
      <div class="container overflow-hidden">
        <h2 class="text-center">Our Process</h2>
        <div class="col-md-6 text-justify">
          <ul>
            <li class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">
             <div class="col-md-12 value-desc">
                <h3>Recruitment Planning / Requirement Review </h3>
                <p>The first step involved in the recruitment process is planning. Here, planning involves to draft a comprehensive job specification for the vacant position, outlining its major and minor responsibilities; the skills, experience and qualifications needed; grade and level of pay; starting date; whether temporary or permanent. Or we review the requirement and job description given by our client.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.7s" data-wow-delay="0.4s">
              <div class="col-md-12 value-desc">
                <h3>Sourcing</h3>
                <p>Sourcing candidates means our employment specialist is using a variety of methods to find suitable candidates from all over the world for the job vacancies. Sourcing can be done via HumanCapita internal database, job portals, online advertising, career sites and professional networking.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <div class="col-md-12 value-desc">
                <h3>Pre-screening </h3>
                <p>Conducting a pre screening is essential for obtaining information about the applicant’s background, work history and experience. Our employment specialist conducts either preliminary phone interview or face to face interview; the objective is to determine whether or not the applicant has the requisite skills and qualifications for the job vacancy. </p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
        
        <div class="col-md-6 text-justify">
          <ul>
            <li class="wow bounceInLeft" data-wow-duration="0.6s" data-wow-delay="0.3s">
             <div class="col-md-12 value-desc">
                <h3>Client assessment </h3>
                <p>The profiles of short listed candidates will be sending to our client for final assessment and selection. And client will select the candidate at their discretion.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.7s" data-wow-delay="0.4s">
              <div class="col-md-12 value-desc">
                <h3>Coordinating Interview</h3>
                <p>We will be coordinating with our client to conduct the final face to face interview of the selected candidate.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <div class="col-md-12 value-desc">
                <h3>Reference check</h3>
                <p>We will take the initiative to conduct necessary reference check of the selected candidate.</p>
              </div>
              <div class="clearfix"></div>
            </li>
            <li class="wow bounceInLeft" data-wow-duration="0.8s" data-wow-delay="0.5s">
              <div class="col-md-12 value-desc">
                <h3>Deployment & Post Deployment Services</h3>
                <p>We assist our client to deploy the employee on the time and we also provide minimum one month of guarantee period to replace the employee.</p>
              </div>
              <div class="clearfix"></div>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
    </section>

    <section id="recrutmnt-process">
      <div class="container text-center">
        <img src="assets/hr_mgmt/images/recruitment-process.png" alt="Recruitment Process" title="Recruitment Process" />
        <a href="/our-process">KNOW MORE</a>
      </div>
    </section>
{% endblock %}