{% block title %}
{{ "Our Services"}}
{% endblock %}
{% block content_body %}
<section id="our-services">
      <div class="container">
        <h1 class="green text-center">Our Services</h1>
        <h4>HumanCapita is one of the fastest growing staffing and HR companies in Singapore. We provide the most ideal candidates to our esteemed clients for all the positions. Our clients include government organisations, multinational corporations as well as small and medium enterprises. We specialise in the recruitment of all levels across a wide range of industry disciplines on permanent and contract basis.</h4> 
      </div>
    </section> 
    
    <section id="prmnt-recrtmnt">
      <div class="container">
         <div class="col-md-4 prmnt-recrtmnt-left text-center"><img src="assets/hr_mgmt/images/permanent-recruitment.png" alt="Permanent Recruitment" title="Permanent Recruitment"></div>
         <div class="col-md-8 prmnt-recrtmnt-right">
           <h3>Permanent Recruitment</h3> 
       <p>HumanCapita provides customised permanent and functional recruitment solutions across all levels in various industries. Our recruitment specialists leverage on their expertise to match the ideal candidates with our clients. HumanCapita is constantly working to provide effective human capital solutions for our clients’ present and future needs.</p>
         </div>
         <div class="clearfix"></div>
      </div>
    </section> 
    
    <section id="recrutmnt-spcl">
      <div class="container"> 
          <div class="row"> 
            <h3 class="green text-center">Our recruitment specializations include</h3>
            <div class="col-md-12">
              <ul class="sector-list col-md-3">
                <li><span class="it-icon"></span> IT and Telecom</li>
                <li><span class="health-icon"></span> Healthcare</li>
                <li><span class="bankg-icon"></span> Banking & finance</li>
                <li><span class="acct-icon"></span> Accounting & Finance</li> 
              </ul> 
              <ul class="sector-list col-md-3">
                <li><span class="edu-icon"></span> Education</li>
                <li><span class="pharma-icon"></span> Pharmaceutical</li> 
                <li><span class="hospitlty-icon"></span> Hospitality</li>
                <li><span class=" digital-icon"></span> Digital Media</li> 
              </ul>
              <ul class="sector-list col-md-3">
                <li><span class="marine-icon"></span> Marine</li>
                <li><span class="marktg-icon"></span> Sales & Marketing</li> 
                <li><span class="oilgas-icon"></span> Oil and Gas</li>
                <li><span class="engg-icon"></span> Engineering</li>
              </ul> 
              <ul class="sector-list col-md-3">
                <li><span class="finance-icon"></span> Financial Services Technology</li> 
                <li><span class="constrctn-icon"></span> Building & Construction</li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div> 
    </section> 
    
    <section id="recrtmnt-services">
      <div class="container">
         <div class="row">
           <div class="col-md-4 service-col">
              <h3 class="green">Contracting Recruitment</h3>
              <p>Our experienced contract recruitment panel recruits contractors across all sectors matching the requirement. We are constantly searching for talented contractors, using 
              a range of referral and search approaches.</p> 
              <p class="service-title green">Our Contract Recruitment Services:</p>
              <ul>
                <li>For project based / temporarily positions</li>            
                <li>short-term strategic hires for senior and up to director-level</li>            
                <li>Managed services - outsourced hiring for specific projects</li>            
                <li>Employee will be under HumanCapita payroll</li>             
                <li>HumanCapita will charge a fee per worked hour, day or Month</li>
              </ul>
           </div>
           <div class="col-md-4 service-col">
              <h3 class="green">Project Management Recruitment</h3>            
              <p>HumanCapita provides customized and specialised services for mass requirements for specific projects. Our expert recruitment panel will dedicate to fulfill all the 
              requirements within the time limits in a discounted rate.</p> 
              <p class="service-title green">Our Contract Recruitment Services:</p>
              <ul>
                <li>If you have required multiple resource for a specific project</li> 
                <li>Exclusive to HumanCapita</li> 
                <li>This service offers flexible and fastest full phase project support</li> 
                <li>HumanCapita will charge depend on the services used (Case by case)</li>
              </ul>
           </div>
           <div class="col-md-4 service-col">
            <h3 class="green">Executive Search</h3>
            <p>A fastest growing recruiter of top level executives worldwide, HumanCapita uses its extensive global sourcing networks and global partner networks to identify the most 
            qualified and suitable candidate for the top level executive positions in the organizations.</p> 
            <p class="service-title green">Our Executive search services:</p>
            <ul>
              <li>Head Hunting for Senior Management Positions</li> 
              <li>Led by Specialist Executive Search consultants</li> 
              <li>HumanCapita will charge a recruitment fee based on the yearly fixed remuneration of the candidates</li>
            </ul>
           </div>
           <div class="clearfix"></div>
         </div>
      </div>
    </section>
{% endblock %}