{% block title %}
{{ "Our Services"}}
{% endblock %}
{% block content_body %}
<section id="our-services">
      <div class="container text-justify">
        <h1 class="green text-center">Our Services</h1>
        <h4>HumanCapita is one of the fastest growing staffing and HR companies in Singapore. We provide the most qualified and efficient candidates to our esteemed 
        clients for all the positions. Our clients include government organizations, multinational corporations as well as small and medium enterprises. We specialize in the recruitment 
        of junior to mid-management as well as blue-collared positions across a wide range of industry disciplines on permanent and contract basis.</h4> 
      </div>
    </section> 
    
    <section id="prmnt-recrtmnt">
      <div class="container text-justify">
         <div class="col-md-4 prmnt-recrtmnt-left text-center"><img src="assets/hr_mgmt/images/permanent-recruitment.png" alt="Permanent Recruitment" title="Permanent Recruitment"></div>
         <div class="col-md-8 prmnt-recrtmnt-right">
           <h3>Permanent Recruitment</h3> 
       <p>HumanCapita provides tailored permanent and functional recruitment services in every industry from junior-to-senior level hiring in forms of contingency search. Our 
           recruitment specialists work deep within their expertise area to provide the right candidates for the position. HumanCapita is constantly working to provide immediate 
           human capital solutions for our client present and future needs. HumanCapita will charge a recruitment fee based on the fixed remuneration of the candidates.</p>
         </div>
         <div class="clearfix"></div>
      </div>
    </section> 
    
    <section id="recrutmnt-spcl">
      <div class="container"> 
          <div class="row"> 
            <h3 class="green text-center">Our recruitment specializations include</h3>
            <div class="col-md-12">
              <ul class="sector-list col-md-3">
                <li><span class="it-icon"></span> IT and Telecom</li>
                <li><span class="health-icon"></span> Health Care</li>
                <li><span class="bankg-icon"></span> Banking</li>
                <li><span class="acct-icon"></span> Accounting & Finance</li> 
              </ul> 
              <ul class="sector-list col-md-3">
                <li><span class="edu-icon"></span> Educational Institutions</li>
                <li><span class="pharma-icon"></span> Pharmaceutical</li> 
                <li><span class="hospitlty-icon"></span> Hospitality</li>
                <li><span class="digital-icon"></span> Digital Media</li> 
              </ul>
              <ul class="sector-list col-md-3">
                <li><span class="marine-icon"></span> Marine</li>
                <li><span class="marktg-icon"></span> Marketing</li> 
                <li><span class="oilgas-icon"></span> Oil and Gas</li>
                <li><span class="engg-icon"></span> Engineering</li>
              </ul> 
              <ul class="sector-list col-md-3">
                <li><span class="finance-icon"></span> Financial Services Technology</li> 
                <li><span class="constrctn-icon"></span> Construction</li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </div> 
    </section> 
    
    <section id="recrtmnt-services">
      <div class="container text-justify">
         <div class="row">
           <div class="col-md-4 service-col">
              <h3 class="green">Contracting Recruitment</h3>
              <p>Our experienced contract recruitment panel recruits contractors across all sectors matching the requirement. We are constantly searching for talented contractors, using 
              a range of referral and search approaches.</p> 
              <p class="service-title green">Our Contract Recruitment Services:</p>
              <ul>
                <li>For project based / temporarily positions</li>            
                <li>short-term strategic hires for senior and up to director-level</li>            
                <li>Managed services - outsourced hiring for specific projects</li>            
                <li>Employee will be under HumanCapita payroll</li>             
                <li>HumanCapita will charge a fee per worked hour, day or Month</li>
              </ul>
           </div>
           <div class="col-md-4 service-col">
              <h3 class="green">Project Management Recruitment</h3>            
              <p>HumanCapita provides customized and specialized services for mass requirements for specific projects. Our expert recruitment panel will dedicate to fulfill all the 
              requirements within the time limits in a discounted rate.</p> 
              <p class="service-title green">Our Contract Recruitment Services:</p>
              <ul>
                <li>If you have required multiple resource for a specific project</li> 
                <li>Exclusive to HumanCapita</li> 
                <li>This service offers flexible and fastest full phase project support</li> 
                <li>HumanCapita will charge depend on the services used (Case by case)</li>
              </ul>
           </div>
           <div class="col-md-4 service-col">
            <h3 class="green">Executive Search</h3>
            <p>A fastest growing recruiter of top level executives worldwide, HumanCapita uses its extensive global sourcing networks and global partner networks to identify the most 
            qualified and suitable candidate for the top level executive positions in the organizations.</p> 
            <p class="service-title green">Our Executive search services:</p>
            <ul>
              <li>Head Hunting for Senior Management Positions</li> 
              <li>Led by Specialist Executive Search consultants</li> 
              <li>HumanCapita will charge a recruitment fee based on the yearly fixed remuneration of the candidates</li>
            </ul>
           </div>
           <div class="clearfix"></div>
         </div>
      </div>
    </section>
{% endblock %}