{% block title %}
{{ "Our Process"}}
{% endblock %}
{% block content_body %}
<section id="our-recrtmnt-process">
      <div class="container">
        <h1 class="green text-center marginbot0">Our Recruitment Process</h1> 
      </div>
    </section> 
    
    <section id="our-process">
      <div class="container">
        <div class="row">
          <div class="col-md-6 process-left">
            <ul>
              <li>
                <h3 class="green">Recruitment Planning & Review</h3> 
                <p>The first step in the recruitment process is planning. Here, planning involves drafting a comprehensive job specification for the position, outlining the responsibilities, skills, experience and qualifications required. Alternatively we are able to review the requirements and job description behalf of our clients.</p>
              </li>
              <li>
                <h3 class="green">Sourcing</h3> 
                <p>Our recruitment specialists use a variety of methods and platforms to find suitable candidates internationally for placement and sourcing. Sourcing is done namely via HumanCapita’s internal database, job portals, proactive techniques and professional networking.</p> 
              </li>
              <li>
                <h3 class="green">Prescreening</h3>
                <p>Conducting prescreening is essential for obtaining information about the candidates background, work history and experience. Our recruitment specialist conducts either preliminary phone interview or face to face interview before presenting to our clients; the objective is to determine whether a candidate has the required requisites for the placement.</p> 
              </li>
            </ul>
          </div>
          
          <div class="col-md-6 process-right">
            <ul>
                <li>
                  <h3 class="green">Client assessment</h3> 
                  <p>The profiles of short listed candidates will be sent to our clients for their assessment and selection. The client will then select the candidates at their discretion.
                  </p>
                </li>
                <li>
                  <h3 class="green">Coordinating Interview </h3> 
                  <p>We will coordinate with our clients to conduct the final face to face interview of the selected candidates.</p>
                </li>
                <li>
                  <h3 class="green">Reference check </h3> 
                  <p>We will conduct relevant reference checks of the selected candidates.</p>
                </li>
                <li>
                  <h3 class="green">Deployment & Post Deployment</h3> 
                  <p>We assist our client to deploy the employee on time and we also provide on-boarding solutions for the employee.</p>
                </li>
              </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </section> 
    
    <section id="recrtmnt-process">
      <div class="container">
         <div class="text-center"><img src="assets/hr_mgmt/images/recruitment-process-green.png" alt="Our Recruitment Process" title="Our Recruitment Process"></div> 
      </div>
    </section>
{% endblock %}